@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(Roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #173340;
}
#map {
    height: 100%;
}
.gm-style {
    background-color: #173340 !important;
}
.gm-style-iw {
    border-radius: 2px 2px 0 0;
}
h1 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #333;
}
p {
    text-align: center;
}
ul {
    margin-top: 10px;
    list-style-type: none;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
}
.github-banner {
    position: absolute;
    top: 40px;
    left: -80px;
    padding: 10px;
    color: white;
    background: #175f7e;
    width: 300px;
    text-align: center;
    text-decoration: none;
    transform: rotate(-40deg);
    cursor: url(fork.ico), pointer;
}
#toggles {
    position: fixed;
    top: 10px;
    right: 50px;
    height: 40px;
    width: 250px;
}
#toggles > div {
    height: 25px;
    width: 25px;
    display: inline-block;
    background-color: white;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 3px;
    cursor: default
}
#about {
    position: absolute;
    top: 44px;
    right: 15px;
    width: 500px;
    height: 300px;
    background: #CCC;
    text-color: black;
    margin-left: 10px;
    text-align: center;
    cursor: default
    font-size: small;
}
.close {
     float: right;
     text-align: right;
     padding-left: 6px;
     padding-right: 6px;
     padding-bottom: 1px;
     padding-top: 1px
}
.stripe {
    background: #175f7e;
    color: white;
    font-weight: bold;
    margin: 0px;
    top: 0px;
    padding: 6px
}
#about div {
   width: 100%;
   margin: 0px;
   padding: 0px;
}

#about div dl {
   width: 100%;
   background: #404040;
   font-size: 14px;
}
dl#controls dt {
   width: 15%; 
   float: left;
   clear: both;
   text-align: right;
   font-weight: bold;
}
dl#controls dd {
   width: 83%;
   float: right;
   text-align: left;
}
dl#tools dt {
   width: 30%; 
   float: left;
   clear: both;
   text-align: right;
   font-weight: bold;
}
dl#tools dd {
   width: 68%;
   float: right;
   text-align: left;
}
#about div#tool_box h1: {
   padding-top: 15px;
}
#about div h1: {
   padding-top: 15px;
   width: 100%;
   clear: both;
   text-decoration: none;
}
